@import './variables.scss';

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, address, cite, code, ins,
del, em, img, strong, sub, sup, i, center, input, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, section {
  margin: 0;
	padding: 0;
	border: 0;
	box-sizing:border-box;
}